body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav{
    color: white;
    margin-top: 30px;
    padding-right: 50px;
}
.nav a{
    margin-left: 20px;
}
.logo{
    color: white;
    margin-left: 50px;
}
.nav a i{
    display: none;
}
@media (max-width:768px){
    .nav a:not(:last-child) {
        display: none;
    }
    .nav a:last-child i {
        display: block;
        margin-top: -20px;
    }
}